<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <title>Hayvan Ekle</title>
        <link href="../assets/styles/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body class="bg-light">
        <div class="container mt-4">
            <h3 class="text-center mb-4">Yeni Hayvan Ekle</h3>

            <form id="addAnimalForm">
                <div id="addAnimalDiv">
                    <div class="mb-3">
                        <label for="type" class="form-label"><strong>Türü</strong></label>
                        <select class="form-select" id="type">
                            <option value="">Seçiniz</option>
                            <option value="cow">İnek</option>
                            <option value="heifer">Düve</option>
                            <option value="calf">Buzağı</option>
                            <option value="bull">Dana</option>
                        </select>
                    </div>
                    <div id="deneme">
                        
                    </div>
                    <!-- 
                    <div class="mb-3">
                        <label for="cowName" class="form-label"><strong>Hayvan Adı</strong></label>
                        <input type="text" class="form-control" id="animalName"/>
                    </div>

                    <div class="mb-3">
                        <label for="earringNo" class="form-label"><strong>Küpe Numarası</strong></label>
                        <input type="text" class="form-control" id="earringNo" required/>
                    </div>

                    <div class="mb-3">
                        <label for="birthDate" class="form-label"><strong>Doğum Tarihi</strong></label>
                        <input type="date" class="form-control" id="birthDate"/>
                    </div>

                    <div class="mb-3">
                        <label for="motherEarringNo" class="form-label"><strong>Anne Küpe Numarası</strong></label>
                        <input type="text" class="form-control" id="motherEarringNo"/>
                    </div> -->
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-success">
                        Ekle
                    </button>
                </div>
            </form>
        </div>

        <script src="../src/addAnimal.js"></script>
    </body>
</html>
