<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CowTracker - İnekler</title>

        <!-- Bootstrap CSS -->
        <link href="../assets/styles/bootstrap.min.css" rel="stylesheet" />
        <link
            href="../assets/images/icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
    </head>
    <body class="bg-light" style="padding-bottom: 70px">
        <div class="container mt-5 mb-4">
            <h2 class="mb-4 text-center" id="titleBull"></h2>
            <div class="table-responsive" style="overflow-x: visible">
                <table class="table table-hover align-middle text-center">
                    <thead class="table-dark">
                        <tr
                            style="
                                position: sticky;
                                top: 0;
                                z-index: 10;
                                background-color: #343a40;
                            "
                        >
                            <th>Sayı</th>
                            <th>Küpe Numarası</th>
                            <th>Dana Adı</th>
                            <th>Doğum Tarihi</th>
                            <th>Anne Küpe No</th>
                            <th>Anne Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody id="bullTableBody">
                        <!-- JavaScript ile satırlar buraya eklenecek -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-end mt-3">
            <button
                class="btn btn-success me-2 mb-3"
                id="btn-add-cow"
                style="
                    bottom: 20px;
                    right: 120px;
                    position: fixed;
                    z-index: 100;
                "
            >
                Yeni Dana Ekle
            </button>
        </div>
        <button
            class="btn btn-primary mb-3"
            id="btn-menu"
            style="bottom: 20px; right: 10px; position: fixed; z-index: 100"
        >
            Ana Menü
        </button>

        <script src="../src/bulls.js"></script>
        <!-- İleride gerekirse -->
    </body>
</html>
